.navbar{
    background-color: #28A745;
}

#form {
    background-color: #28A745;
    margin: auto;
    height: 241px;;
}

#RecibeCupones{
    text-align: center;
    color: white;
    width: ;

}

#form button {
    text-align: center;
}